:root {
    --primary-bg: #2698ee;
    /* --primary-color: #2d2b2b; */
    --primary-color: #fff;
}

html,
body {
    width: 100%;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: var(--primary-bg);
    color: var(--primary-color);
}

.container {
    display: flex;
    /* position: relative; */
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    z-index: 1;
    width: 90%;
}

.content__text-item div {
    margin: 4rem 0 6rem 0;
    text-align: center;
}

.content__text-item div span {
    display: block;
}

.content__text-item .value {
    width: max-content;
    margin: .5rem auto;
}

.content__text-item .value.success {
    /* font-size: 2rem; */
    font-size: clamp(16px, 3vw, 48px);
    border: 1px solid;
    padding: .2rem .6rem;
}

.content__text-item .text {
    font-size: 1.2rem;
    font-size: clamp(16px, 2vw, 20px);
}

.form-container {
    padding-top: 6.25em;
    width: 100%;
    max-width: 450px;
}

.form-container form {
    display: flex;
    flex-direction: column
}

.form-container form label {
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

.form-container form input {
    padding: 0.8rem 0.6rem;
    margin-bottom: .5rem;
    font-size: 1rem;
}

.form-container form button {
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    cursor: pointer;
}

.form-container form button:hover {
    cursor: pointer;
}

.form-container .text-content {
    font-size: 1.3rem;
}

.waves {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.btn {
    align-self: flex-end;
    border: 2px solid var(--primary-color);
    width: 50%;
    background: transparent;
    cursor: pointer;
    color: #fff;
    font-weight: 900;
    max-width: 130px;
    text-transform: uppercase;
    color: var(--primary-color);
}

.btn:hover {
    color: #e8e8e8;
}


.input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 3rem 0 1rem 0;
}

.input-wrapper .input {
    border: none;
    border-bottom: 1px solid;
    font-size: 1.2rem;
    background: inherit;
    color: #FFF;
    padding: .2em;
    width: 100%;
}

.input-wrapper .label {
    color: #FFF;
    position: absolute;
    left: 0;
    transition: transform 0.5s;
    transform: translate(0, 0px) scale(1);
    cursor: text;
}

.input-wrapper .label.focused {
    transform: translate(3px, -20px) scale(0.75);
    transform-origin: top left;
}


.instructions-wrapper {
	display: flex;
	flex-direction: column;
	margin: 3rem .5rem;
	width: 80%;
	max-width: 660px;
}
.instructions-wrapper > h2 {
    text-align: center;
    position: relative;
    margin: 6rem auto;
    text-transform: uppercase;
}

.instructions-wrapper > h2:before,
.instructions-wrapper > h2:after {
    content: "";
    display: block;
	position: absolute;
	height: 14px;
	border-bottom: 1px solid white;
	top: 0;
	width: 30px;
}

.instructions-wrapper > h2:before {
  right: 100%;
  margin-right: 15px;
}
.instructions-wrapper > h2:after {
  left: 100%;
  margin-left: 15px;
}

.instruction-container {
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    margin: 4rem 0;
}

.instruction-container:nth-child(odd) {
    flex-direction: row-reverse;
}

.instruction--img,
.instruction--text {
	max-width: calc(50% - 40px);
}
.instruction--text {
    align-self: center;
    font-size: 1.1rem;
}
.instruction--text h4 {
    font-size: 1.6rem;
}
.instruction--text p {
    line-height: 1.4;
}


.instruction--img img {
	width: 100%;
}